@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

@font-face {
  font-family: "Poppins-Bold";
  font-weight: 400;
  src: url("../public/fonts/Poppins-SemiBold.ttf")format("truetype");

  font-weight: 600;

  font-style: normal;
}
input{
  accent-color:#ff4d6e;
}
@font-face {
  font-family: "SfproText";
  src: url("../public/fonts/alfont_com_SFProAR_semibold.ttf")format("truetype");
  font-weight: 400;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "elwatanP";
  font-weight: 200;
  src: url("../public/fonts/ElwatanP.ttf")format("truetype");
 font-style: normal;
}
.dark .dark\:bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
